/* Footer.css */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: static; /* Default position */
  width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 15px 0;
  z-index: 1000; /* Ensure it's above other elements */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
}

.footer-content {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  flex-direction: column; /* Ensure items stack vertically */
}

.footer-links {
  margin-bottom: 10px;
  text-align: center; /* Center links text */
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Divider */
.divider {
  width: 100%;
  max-width: 1000px; /* Adjust as needed */
  margin: 10px 0;
  border-top: 1px solid #aaa;
}

.footer p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center; /* Center paragraph text */
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer {
    padding: 15px 0;
  }

  .fixed-footer {
    padding: 10px 0;
  }

  .footer-links a {
    margin: 0 5px;
  }

  .footer p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 10px 0;
  }

  .fixed-footer {
    padding: 5px 0;
  }

  .footer-links a {
    display: block; /* Stack links vertically */
    margin: 5px 0;
  }

  .footer p {
    font-size: 10px;
  }
}
